<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jin.mapper.CodeMapper">

<select id="getCodeGroupList" resultType="net.jin.common.domain.CodeLabelValue">

SELECT group_code as value 
      ,group_name as label
FROM code_group
WHERE use_yn = 'Y'
order by group_name 

</select>

<!--코드목록 조회-->
<select id="getCodeList" resultType="net.jin.common.domain.CodeLabelValue">

SELECT code_value as value
      ,code_name as label
FROM code_detail
WHERE group_code = #{groupCode}
AND use_yn ='Y'
ORDER BY sort_seq

</select>


</mapper>