<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.jin.mapper.MemberMapper">


<!-- 목록조회 -->
<select id="list" resultType="Member">

SELECT user_no
,user_id
,user_pw
,user_name
,(SELECT code_name FROM code_detail WHERE group_code = "A01" AND code_value = job) AS job
,coin
,reg_date
FROM member
order by reg_date DESC 

</select>


</mapper>