<!DOCTYPE html>
<html xmin:th="http://www.thymeleaf.org">

<head>
<title>home</title>
<meta http-equiv = "Content-Type" content = "text/html; charset=UTF-8" />
<link rel="stylesheet" href ="../../static/css/style.css" th:href="@{/css/style.css}"/>
</head>

<body>
<h2>Jimmy's world</h2>
<h2 th:text="#{common.homeWelcome}"></h2>
<p th:text="${serverTime1}">serverTime1</p> 
<p th:text="${serverTime2}">serverTime2</p>
<p th:text="${serverTime3}">serverTime3</p>
<p th:text="${serverTime4}">serverTime4</p>
<p th:text="${serverTime5}">serverTime5</p>

</body>
</html>